<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

    <!-- TOPO IGUAL AO HOME -->
    <header class="topo">
        <div class="logo-area">
            <div class="logo">📚</div>
            <h1>Minha Biblioteca</h1>
        </div>

        <nav class="menu">
            <a href="/cadastro">Cadastro</a>
        </nav>
    </header>

    <!-- LOGIN -->
    <div class="container-login">

        <h2 class="titulo-login">Login</h2>
        <p class="subtitulo-login">Entre para acessar sua biblioteca</p>

        {% if erro %}
            <div class="msg-erro">{{ erro }}</div>
        {% endif %}

        {% if sucesso %}
            <div class="msg-sucesso">{{ sucesso }}</div>
        {% endif %}

        <form method="POST" class="form-login">

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Senha</label>
            <input type="password" name="senha" required>

            <button type="submit" class="btn-login">Entrar</button>

        </form>

        <div class="link-area">
            Não tem conta?
            <a href="/cadastro">Cadastre-se</a>
        </div>

    </div>

</body>
</html>